[submodule "themes/cupper-hugo-theme"]
	path = themes/cupper-hugo-theme
	url = https://github.com/zwbetz-gh/cupper-hugo-theme.git
[submodule "themes/eureka"]
	path = themes/eureka
	url = https://github.com/wangchucheng/hugo-eureka.git
[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
