<link
  rel="stylesheet"
  href="https://unpkg.com/tachyons@4.11.1/css/tachyons.min.css"
/>

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css" />

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/highlightjs@9.12.0/styles/github-gist.css"
/>

<style>
    .comment {
        padding: .5rem;
        background: whitesmoke;
        margin:.5rem;
        margin-left: 0;
        margin-right: 0;
        word-break: break-all;
    }
    textarea {
        min-width: 300px;
        min-height: 150px;
        display: block;
    }
</style>